<div class="container">
    <div class="row">
        <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">{{ formStatus }} Categories</h3>
            <p class="text-center mb-5">You can {{ formStatus }} categories from here ..!</p>

            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                <input ty`="text" class="form-control shadow-effect" name="description" 
                        placeholder="Category description" formControlName="description" required>
                        <br>
                <input type="text" class="form-control shadow-effect" name="color" 
                        placeholder="Category color" formControlName="color" required>
                <button class="btn btn-blockF btn-info mb-2 btn-theme mt-1" [disabled]="categoryForm.invalid"> {{ formStatus }} Category </button>

            </form>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Category</th>
                                <th>Color</th>
                                <th [colSpan]="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categoryArray; let i = index">
                                <td> {{ i + 1 }}</td>
                                <td> {{ category.description }}</td>
                                <td> {{ category.color }}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning" (click)="editCategory(category)">Edit</button>
                                    <!-- <button class="btn btn-sm btn-warning" (click)="editCategory(category.data.category, category.id)">Edit</button> -->
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger" (click)="deleteCategory(category.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>
</div>